@{
	ViewData["Title"] = "Welcome";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>

	<p><a class="badge badge-pill badge-success" asp-area="" asp-controller="Home"
			asp-action="Registration">Регистрируйся и решай
			задачи с нами!</a></p>

	<img src="https://i.ibb.co/Qj5QVYP/welcome.jpg" width="800" height="800" alt="Sample Photo" />

</div>
